[build]
  base = "web-app"
  command = "pip install Flask Werkzeug && python app.py"
  publish = "."

[build.environment]
  PYTHON_VERSION = "3.9"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 404
